# base stuff
django
django-getenv
django-redis
dj-database-url
psycopg2
pytz

# application server
uwsgi

# testing
pytest
pytest-django
flake8
coverage
ipdb

# logging
django-logstash

# monitoring
newrelic
raven
