[run]
source = django-{{ cookiecutter.app_name }}
omit =
    */migrations/*
    */tests/*
    django-{{ cookiecutter.app_name }}/manage.py
    django-{{ cookiecutter.app_name }}/{{ cookiecutter.app_name }}/wsgi.py
    django-{{ cookiecutter.app_name }}/{{ cookiecutter.app_name }}/settings/production.py
